header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-right: 20px;;
  background-color: #213c31;
  
}

/* Logo */
#header-izq img {
  height: 60px;
}

a {
    font-family: 'Inter', sans-serif;
}

/* Contenedor de navegación */
.hBotones {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 15px;
}

/* Links normales */
.hBoton {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
}

/* Subrayado moderno al hacer hover */
.hBoton::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: #ff7a18;
  transition: 0.3s;
}

.hBoton:hover::after {
  width: 100%;
}

/* Botón destacado (login) */
#boton-destacado {
    text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  transition: 0.3s;
  border: 1px solid #ff7a18;
}

/* Hover botón */
#boton-destacado:hover {
  background-color: #e56712;
}